@import "./Constants.scss";

.issue-container {
  margin-bottom: $spacer-3;
  cursor: pointer;
}

.issue-image-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.issue-image {
  width: 70%;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  
  &:hover {
    box-shadow: 0px 0px 15px rgba(249, 248, 248, 0.3);
  }
}